*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    height:100vh;
    overflow:hidden;

    font-family:"Segoe Print","Comic Sans MS",cursive;

    background:#ffdbea;

    display:flex;
    justify-content:center;
    align-items:center;

    color:#70485e;

}




/* CURSOR */

#cursor{

    width:22px;
    height:22px;

    position:fixed;

    pointer-events:none;

    border:3px solid #ff8fbd;

    border-radius:50%;

    z-index:1000;

}





/* SPARKLES */

#sparkles{

    position:fixed;

    inset:0;

    pointer-events:none;

}


.sparkle{

    position:absolute;

    color:#b6ff70;

    animation:fall 5s linear infinite;

}



@keyframes fall{

from{
    transform:translateY(-10vh) rotate(0deg);
}

to{
    transform:translateY(110vh) rotate(360deg);
}

}







/* SCRAPBOOK COVER */


#cover{

    width:100%;
    height:100%;

    display:flex;
    align-items:center;
    justify-content:center;

    position:relative;

}



.scrapbook{


    width:500px;

    padding:60px;

    background:#fff1ca;

    border-radius:25px;


    box-shadow:
    0 20px 50px rgba(100,60,70,.2);


    text-align:center;


    position:relative;


    transform:rotate(-2deg);

}



.scrapbook:before{

    content:"";

    position:absolute;

    inset:12px;

    border:2px dashed #f3b5c9;

    border-radius:20px;

}



.tiny-label{

    display:inline-block;

    background:#ffc5dc;

    padding:8px 15px;

    border-radius:20px;

    font-size:14px;

}



.scrapbook h1{

    font-size:90px;

    margin-top:20px;

}



.scrapbook p{

    font-size:25px;

}



.scribbles{

    margin:20px;

    font-size:30px;

}



.small-note{

    font-size:15px!important;

    opacity:.7;

}








/* DOODLE BASE */


.doodle{

    position:absolute;

    color:#70485e;

}







/* CAT DRAWING */


.cat{

    width:120px;

    height:100px;

    left:15%;

    top:20%;

}



.cat-head{

    width:80px;

    height:70px;

    border:4px solid #70485e;

    border-radius:50%;

    position:absolute;

    bottom:0;

    left:20px;

}



.cat-ear{

    width:30px;

    height:30px;

    border:4px solid #70485e;

    transform:rotate(45deg);

    position:absolute;

    top:5px;

}



.cat-ear.left{

    left:20px;

}


.cat-ear.right{

    right:20px;

}



.cat-face:before{

    content:"•  •";

    position:absolute;

    top:55px;

    left:42px;

    letter-spacing:8px;

}







/* TAPIR */


.tapir{

    right:15%;

    bottom:20%;

    width:120px;

    height:80px;

}



.tapir-body{

    width:100px;

    height:60px;

    border:4px solid #70485e;

    border-radius:50%;

}



.tapir-snout{

    width:40px;

    height:25px;

    border:4px solid #70485e;

    border-radius:50%;

    position:absolute;

    right:-20px;

    top:20px;

}







/* FLOWER DOODLE */


.flower{

    right:20%;

    top:15%;

}



.petal{

    width:25px;

    height:25px;

    border:3px solid #ff8fbd;

    border-radius:50%;

    position:absolute;

}



.p1{left:0;}
.p2{left:25px;}
.p3{top:20px;left:12px;}



.stem{

    width:3px;

    height:70px;

    background:#79b86a;

    position:absolute;

    top:45px;

}








/* GARDEN */


#garden{

    display:none;

    width:100%;

    height:100%;

    background:#c8ff91;

    text-align:center;

    padding-top:170px;

}



#garden h1{

    font-size:50px;

}



#garden p{

    font-size:24px;

}



button{

    margin-top:30px;

    padding:15px 35px;

    border:none;

    border-radius:30px;

    background:#fff;

    color:#70485e;

    font-family:inherit;

    font-size:20px;

    cursor:pointer;

}






.energy{

    width:300px;

    height:20px;

    background:white;

    border-radius:30px;

    margin:40px auto;

    overflow:hidden;

}



#energyBar{

    height:100%;

    width:0%;

    background:#ff8fbd;

}






/* LETTER */


#letter{

    display:none;

}



.paper{

    width:650px;

    min-height:500px;

    background:#ffe9b8;

    padding:55px;

    border-radius:15px;

    box-shadow:0 20px 50px #0003;

    position:relative;

}



.pressedRose:after{

    content:"";

    position:absolute;

    right:40px;

    bottom:40px;

    width:60px;

    height:100px;

    border-radius:50%;

    background:#d98b8b;

    transform:rotate(-20deg);

    opacity:.7;

}


#typing{

    margin-top:25px;

    line-height:1.7;

    white-space:pre-line;

}





/* END */


#ending{

    display:none;

    text-align:center;

}



.bouquet{

    width:200px;

    height:200px;

    margin:auto;

    background:#ffc1dc;

    border-radius:50%;

}



.teddy{

    font-size:100px;

}



.arrow{

    font-size:70px;

}
